body {
  background-color: #c4dce0;
}

h1 {
  color: #048998;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 0rem;
}

button {
  background-color: #048998;
  border: 1px solid #048998;
  border-radius: 4px;
  box-shadow: 10px 5px 5px #c4dce0;
  color: #f6f5f5;
  transition: all 200ms ease-in-out;
}

button:hover {
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

.container {
  margin: 30px auto;
}
.card-header {
  background-color: #abcecf;
  font-family: "Cinzel", serif;
}

.logo-header {
  height: 50px;
}

.card-body {
  background-color: #daf4f5;
  color: #048998;
  font-family: "Domine", serif;
  font-weight: 500;
}

.col-right,
.col-left {
  margin-top: 30px;
  text-align: center;
}

.search {
  text-align: right;
}

.cur-city-title {
  font-family: "Cinzel", serif;
  font-size: 40px;
  margin-bottom: 25px;
  text-align: center;
}

.cur-date {
  font-size: 8px;
}

.cur-temperature {
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-left: 20px;
}

.cur-feels-like-title,
.wind-title {
  font-size: 15px;
  padding-top: 0;
}

.forecast-title {
  font-family: "Cinzel", serif;
  font-size: 30px;
  padding-bottom: 15px;
}

.weekday {
  text-align: left;
  margin-bottom: 20px;
}

.day {
  font-size: 17px;
}

.date {
  font-size: 15px;
}

.temperature {
  font-size: 20px;
  padding-top: 5px;
}

.weather-emoji {
  font-size: 30px;
}

.open-source-text {
  color: #048998;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

#city-input {
  border: 1px solid #3bb4c1;
  border-radius: 4px;
  width: 60%;
}

#city-input:focus {
  color: #048998;
  outline: none;
}

#search-btn {
  width: 70px;
}

#change-unit-btn {
  font-size: 20px;
}

#cur-weekday {
  text-align: right;
}

#cur-time {
  text-align: left;
}

#cur-weekday,
#cur-time,
#cur-date {
  font-size: 20px;
  margin-bottom: 15px;
}
#cur-weather-emoji {
  font-size: 90px;
  padding-top: 10px;
}
#weather-description {
  font-size: 15px;
  padding-top: 0;
}
#weather-description::first-letter {
  text-transform: capitalize;
}

#open-source-link {
  color: #048998;
}
